<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:\Temp\nlog-internal.log">

  <targets>
    <target name="Files" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${basedir}/Logs/DynamiteConsole-${shortdate}.log" />
    
    <target name="Log2Console" xsi:type="Chainsaw"
            address="udp://127.0.0.2:7071" />
    
    <target name="Console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Files" />
    <logger name="*" minlevel="Debug" writeTo="Log2Console" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>
